body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
}

body > section {
  display: grid;
}

img {
  height: 200px;
  width: auto;
}

.middle > div {
  border: 2px soldid darkcyan;
}

.text {
  padding: 5px;
}

.head {
  background-color: darkcyan;
  color: antiquewhite;
  padding-left: 40px;
}

.middle {
  background-color: antiquewhite;
  flex-basis: 450px;
  display: grid;
  padding: 10px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
}

.foot {
  background-color: darkcyan;
  grid-template-columns: repeat(4, 1fr);
}
